body{
    background: rgb(3,1,30);
    background: linear-gradient(90deg, rgba(3,1,30,1) 0%, rgba(6,27,54,1) 52%, rgba(73,92,113,1) 100%);
}

nav{
    background: rgba(0,0,0,0);
    font-family: 'Manrope', sans-serif;
}

a.nav-link{
    font-size: 1.10rem;
    color: white;
    font-weight: bold;
}
a.nav-link:hover{
    color: white;
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}