body{
    background: rgb(13,13,15);
    background: linear-gradient(90deg, rgba(13,13,15,1) 0%, rgba(6,27,54,1) 61%, rgba(1,34,69,1) 100%);
}

nav{
    background: rgba(0,0,0,0.4);
    font-family: 'Manrope', sans-serif;
}
#inicio, #acerca, #proyectos, #contacto, #sitio1, #sitio2{
    color: #ffffff;
}

a.nav-link{
    font-size: 1.10rem;
    font-weight: bold;
}

a.nav-link:hover{
    background-color: #e5e5e53b;
    font-size: 1.12rem;;
}

.pagina_completa{
    width: 100%;
    height: 100vh;
}

#inicio_page{
    padding: 5rem 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nombre{
    font-size: 5rem;
}

.nombre2{
    font-size: 3rem;
}

.portafolio{
    padding: 3rem;
    align-self: center;
}

.experiencia{
    background-color: white;
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 5px solid #8080804d;
    transition: all 0.5s ease-in;
}

.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 20px 20px;
    border-radius: 50%;
}

.experiencia .columna:hover{
    color: white;
    background-color: rgb(34, 32, 51);
}


.experiencia-titulo{
    font-size: 2rem;
    font-weight: bold;
}

.barrita{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    #inicio, #acerca, #proyectos, #contacto, #sitio1, #sitio2{
        text-align: center;
    }
    .nombre{
        font-size: 2.5rem;
        text-align: center;
    }
    .desarrollo_web{
        text-align: center;
    }
    .espacio_conocer{
        padding-top: 7rem;
    }
}
.blanco{
    color: white;
}

.seccion-texto{
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

/*Seccion Hero*/
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.img-centrar img{
    display: flex;
}
.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
    /*border-radius: 50%;  --> rounded-circle*/
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}
/*Fin Seccion Hero*/

/*Acerda de (About)*/
.sobre-mi {
    height: 100px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*Proyectos*/
.seccion-titulo {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}
.overlay {
    /*Hacemos transparente el elemento*/
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    color: #0a0a23;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}


/*Debe de tener position relativa para que el overlay se posicione sobre el*/
.proyecto {
    margin-top: 10px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}
.proyecto-reciente{
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
}

/*Cambiamos la opacidad de la imagen cuando se pasa el cursor*/
.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

/*Estilo a los iconos del proyecto*/
.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    font-size: 45px;
    margin: 10px;
}

/*Fin Proyectos*/

/*Acerda de (About)*/
.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*Fin Acerda de (About)*/


/* Contacto */
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -3.5rem;
    background-color: rgb(8, 4, 63);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size:  1.2rem;
    margin-bottom: 20px;
}

.contacto button{
    color: rgb(0, 2, 116);
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid white;
    padding: 1em 1.5em;
    border-radius: 50px;
    transition: all 1s ease-in-out;
}

.contacto button i{
    color: rgb(0, 2, 116);
    font-size: 1.3rem;
    transition: all 1s ease-in-out;
}

/*Efecto de cursor sobre boton contacto*/
.contacto button:hover{
    background-color: rgb(253, 0, 0);
    color: rgb(255, 255, 255);
}

.contacto button:hover i{
    color: rgb(255, 255, 255);
}

.accordion-body{
    color:#000000;
}
/* Fin Contacto */

/*Footer*/
.footer{
    min-height: 500px;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}


.iconos-redes-sociales i{
    color: white;
    font-size: 1.6rem;
    transition: all 0.5s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(2, 89, 219);
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-autor{
    font-size: 20px;
    color: #aeaeae;
    padding: 20px;
}
/*Fin Footer*/

/*whatsapp*/
.float{
	position: fixed;
	width:50px;
	height:50px;
    /*para mover en el plano*/
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:80;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:11px;
}

/*front-end*/
.caja-front{
    background-color: white;
    padding: 2rem;
}

.caja-front h2{
    font-size: 3rem;
    font-family: 'Nerko One', cursive;
}

.caja-img{
    height: 400px;
}

.pintar-back{
    padding: 3rem 0;
    background-color: #e9e7e7;
}

.caja-img-back{
    height: 200px;
}

.div-img{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.img-desarrollo{
    height: 125px;
    align-items: center;
}

.img-desarrollo{
    animation-name: aumentar-tamanio;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: normal;
}


/*dando animacion a los iconos*/
@keyframes aumentar-tamanio {
    0%{
        height: 125px;
    }
    50%{
        height: 130px;
    }
    100%{
        height: 125px;
    }
}

@media screen and (max-width: 767px) {
    .caja-img{
        height: 800px;
    }
    .div-img img{
        padding-bottom: -10px;
        margin-bottom: -15px;
    }

    .img-desarrollo{
        height: 100px;
        animation-name: aum-tamanio-movil;
    }
    .caja-img-back{
        height: 600px;
    }
    .img-centrar{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
    
    }
}

@media screen and (max-width: 992px) {
    .caja-img{
        height: 600px;
    }
    .div-img img{
        padding-bottom: -10px;
        margin-bottom: -15px;
    }
    .caja-img-back{
        height: 400px;
    }
}


@keyframes aum-tamanio-movil {
    0%{
        height: 100px;
    }
    50%{
        height: 110px;
    }
    100%{
        height: 100px;
    }
}